@font-face {
  font-family: "Mazzard";
  src: url('/css/fonts/MazzardM-Medium.otf');
}
@font-face {
  font-family: "Montserrat";
  src: url('/css/fonts/Montserrat-Thin.ttf');
}

@media (max-width: 599px){
  /**************************** hide desktop only items ****************************/
  .contact-modal {
    display: none;
  }

  /**************************** hide desktop only items ****************************/
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(100, 100, 100, .7);
  }

  header {
    align-self: center;
    position: absolute;
    top: 0;
    height: 75px;
    width: 100%;
    margin-bottom: 3em;
    background-image: url('/images/nav-bar-background-image.png');
  }
  .spacer {
    height: 4.5em;
  }

  #info-section {
    height: 75%;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    flex-shrink: 0;
  }
  .text-box h2, h5 {
    text-align: center;
    margin: 0 auto;
  }
  #more-about {
    display: none;
  }
  #read-more, #read-less {
    max-width: 75px;
    background: rgba( 200, 200, 200, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  #read-less {
    display: none;
  }
  #picture-card {
    width: 300px
    background: rgba( 200, 200, 200, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 1em;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1em;
  }
  #picture-card img {
    max-width: 100%;
  }

} /* END MOBILE FORMATTING */

@media (min-width: 600px) {
  /****************************** hide mobile only items ******************************/

  /****************************** hide mobile only items ******************************/

  #info-section {
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    align-self: center;
  }

  #picture-card {
    background: rgba( 200, 200, 200, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 1em;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1em;
    transform: translate(25%);
  }
  .card img {
    border-radius: 1em;
  }

  #about-blurb {
    padding: 1em;
  }

  .text-box {
    max-width: 50%;
    background: rgba( 200, 200, 200, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1em;
  }
  .text-box h2, h5 {
    text-align: center;
    margin: 0 auto;
  }
  #read-more, #read-less {
    max-width: 75px;
    background: rgba( 200, 200, 200, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  #read-less {
    display: none;
  }
  #more-about {
    display: none;
  }
  h2 {
    font-size: 24;
  }
  p {
    font-size: 18;
  }

  .spacer {
    width: 10%;
    height: 10%;
  }

}
