@font-face {
  font-family: "Mazzard";
  src: url('/css/fonts/MazzardM-Medium.otf');
}
@font-face {
  font-family: "Montserrat";
  src: url('/css/fonts/Montserrat-Thin.ttf');
}

@media (max-width: 599px){
  /**************************** hide desktop only items ****************************/
  .contact-modal {
    display: none;
  }
  .project-modal {
    display: none;
  }
  /**************************** hide desktop only items ****************************/
  body {
    display: flex;
    flex-direction: column;
    overflow: visible;
  }

  header {
    align-self: center;
    position: absolute;
    top: 0;
    height: 75px;
    width: 100%;
    margin-bottom: 3em;
    background-image: url('/images/nav-bar-background-image.png');
  }

  #project-article-container {
    margin: 0 auto;
    width: 375px;

  }

  .project-article {
    max-width: 95%;
    margin-bottom: 2em;
    background: rgba( 200, 200, 200, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 1em;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .project-article img {
    border-radius: 1em 1em 0 0;
    max-width: 100%;
    max-height: 100%;
  }
  .project-article h2 {
    margin: 0 auto;
    text-align: center;
  }
  .article-text-container p {
    display: none;
  }
  .mobile-project-paragraph {
    display: none;
  }
  .proj-read {
    margin: 0 auto;
    text-align: center;
    max-width: 75px;
    background: rgba( 200, 200, 200, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 1em;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .less {
    display: none;
  }


}/* ENDOF MOBILE FORMATTING */


@media (min-width: 600px) {

  .mobile-only {
    display: none;
  }

  #project-article-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project-article {
    max-height: 200px;
    width: 49%;
    margin-bottom: 2em;
    background: rgba( 200, 200, 200, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 1em;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
  }

  .project-article img{
    max-height: 100%;
    max-width: 50%;
    border-radius: 1em 0 0 1em;
    display: inline-block;
  }
  .article-text-container {
    max-width: 66%;
    max-height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: .75em;
  }

  p {
    word-break: break-word;
    white-space: normal;
  }

  /* Project Modals */

  .project-modal {
    background: rgba( 200, 200, 200, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 1em;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    max-width: 33%;
    display: none;
  }

  #proj_1_modal {
    display: none;
  }
  #proj_2_modal {
    display: none;
  }
  #proj_3_modal {
    display: none;
  }
  #proj_4_modal {
    display: none;
  }
  #proj_5_modal {
    display: none;
  }
  #proj_6_modal {
    display: none;
  }

  .modal-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .25em;
  }

  .project-modal-img {
    align-self: center;
    border-radius: 1em 1em 0 0;
    width: 100%
  }

  .text-wrapper {
    padding: 1em;
    display: flex;
    flex-direction: column;
    background: rgba( 200, 200, 200, 1 );
    border-radius: 0 0 1em 1em;
  }

  .project-title {
    align-self: center;
  }

  .project-paragraph {
    margin: 1em;
    word-wrap: break-word;
  }

  .modal-footer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .modal-footer h4 {
    padding: .5em 1.25em;
    text-align: center;
    background: rgba( 155, 155, 155, 1 );
    border: 1px solid rgba( 255, 255, 255, 0.25 );
    border-radius: .5em;
  }

  .modal-footer h4:hover {
    box-shadow: 0 1em 2em 0 rgba( 31, 38, 135, 0.6 );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: .5em;
    border: 1px solid rgba( 255, 255, 255, 0.75 );
    cursor: pointer;
  }

  .mobile-project-paragraph {
    display: none;
  }

  /* Project Modals */





}
