* {
  border: 1px solid black;
}

#resume-section {
  margin: 0 auto;
  max-width: 50%;
}

#resume-container {
  margin: 0 auto;
  width: 100%;
  background: rgba( 200, 200, 200, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 1em;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.resume-block {
  max-width: 50%;
  margin-left: 10%;
}

#resume-header {
  text-align: center;
}
