* {

}

body {
  background-color: rgba(100, 100, 100, .7)
}

header {
  display: flex;
  flex-direction: row;
  background-color: rgba(45, 45, 45, .7);
  align-items: center;
  justify-content: space-between;
  height: 5em;
}
.nav-bar {
  padding: none;
}
#main-nav {
  display: inline-flex;
  align-self: flex-start;
}
#right-nav {
  display: inline-flex;
  align-self: baseline;
}
.nav-bar-link {
  padding-right: 2em;
  list-style: none;
}
.nav-bar-link a {
  text-decoration: none;
  color: white;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: rgba(45, 45, 45, .7);
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 1em;
  width: 99%;
  margin: auto;
}
.social {
  list-style: none;
  padding-left: .5em;
  padding-right: .5em;
}

.outside-link {
  list-style: none;

  color: white;
}
.outside-link a {
  color: inherit;
  text-decoration: none;
}
#copyright-container {
  display: inline-flex;
  align-self: flex-start;
}
#social-links {
  display: inline-flex;
  align-self: center;
}
#other-links {
  align-self: baseline;
}

#holding-pen {
  display: none;
}
